modules = ["python-3.11", "nodejs-20"]
[agent]
expertMode = true

[nix]
channel = "stable-25_05"

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"
waitForPort = 5000

[workflows.workflow.metadata]
outputType = "webview"

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 5173
externalPort = 5173

[deployment]
deploymentTarget = "autoscale"
run = ["npm", "run", "preview"]
build = ["npm", "run", "build"]

[userenv]

[userenv.shared]
VITE_FIREBASE_API_KEY = "AIzaSyD3fobMqMs4IfWWu3Ge0EFHppmi8HMiaRQ"
VITE_FIREBASE_AUTH_DOMAIN = "aura-99330.firebaseapp.com"
VITE_FIREBASE_PROJECT_ID = "aura-99330"
VITE_FIREBASE_STORAGE_BUCKET = "aura-99330.firebasestorage.app"
VITE_FIREBASE_MESSAGING_SENDER_ID = "681458886006"
VITE_FIREBASE_APP_ID = "1:681458886006:web:6b2acd17055ec061550657"
VITE_FIREBASE_MEASUREMENT_ID = "G-TXZ52S6E00"
